/*web background*/
body {
    background:url(../assets/back.jpg) no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-color:transparent;
}

.container{
    display:table;
    height:100%;
    width:100%;
    /*position:absolute;*/
}

.backButton {
    float: left;
    color: black;
    left: 5px;
    font-family: Georgia;
    font-weight:bold;
    font-size:larger;
    border:1px double red;
}
.backButton img {
    width:30px;
    height:30px;
}

.login{
    display: table-cell;
    vertical-align: middle;
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}



#userId
{
  margin: auto;
  color: red;
  font-size: 23px;
  float:right;
}

.primary{
    
}

.product {
    margin:auto;
    /*margin:0px 5px 5px 5px;*/
}

.product_content{
    margin-top: 100px;
    text-align: center;
    min-height:420px;
}

.product_content img{
    width:200px;
    height:308px;
}

.pay_btn{
    position:absolute;
    bottom:0px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
}

.table-responsive{
    width: 80%;
    left: 10%;
    margin:0 auto;
    vertical-align:middle;
}